* {
	padding: 0;
	margin: 0;
}

html {
	background: linear-gradient(to top, #bde8fa, #ffd6dd) no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


a {
	text-decoration: none;
	color: black;
}

body {
	background-color: transparent;
}

#wrap {
	background-color: transparent;
}



#main_wrap {
	width: 980px;
	margin: auto;
}

.input_t, .input_r, .input_ba{
	font-weight: normal;
}


#logo a{
	display: block;
	text-align: left;
	margin: 30px;
	color: #676666;
}

#header span {
	margin: 5px 0 0 0;
}

#my {
	text-align: right;
	margin: 10px 15px 0 0;
	font-size: 14px;
}

#my a {
	font-size: 14px;
}

#my_info {
	display:inline-block;
	padding-right: 20px;
	
}

#nav {
	border-bottom: solid 1px #333;
	border-top: solid 1px #333;
}

#nav ul {
	display: block;
	list-style: none;
	overflow: hidden;
	color: black;
    margin-bottom: 0;
}

#nav ul>li {
	display: block;
	float: left;
}

#nav ul>li>a {
	color: black;
	display: block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
}

#nav ul>li>a:hover {
	font-weight: bold;
	text-align: center;
	color: #333;
}

.input_t {
	background-color: transparent;
	border: 0;
	border-bottom: solid 1px;
	width: 100%;
	height: 20px;
	font-size: 15px;
	padding: 3px 0;
}

.input_b, .input_ba {
	display: inline-block;
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	padding: 8px;
	font-size: 13px;
	text-align: center;
}

.input_ba {
	width: 94%;
}


.input_b:first-child {
	margin-bottom: 8px;
}

#login_form_wrap {
	margin: auto;
	text-align: left;
	padding: 120px 0 100px 0;
	width: 300px;
	font-weight: bold;
}

#login_form_wrap h1 {
	margin: 0 0 20px 0;
	text-align: center;
}

#login_form_wrap div {
	padding: 5px 0;
}

.input_r input {
	display: inline-block;
	padding: 0px 10px;
	font-size: 13px;
}



#footer {
	font-size: 14px;
	text-align: center;
	padding: 50px 0;
	font-weight: normal;
}