/* GLOBAL SETTING  */
body {
	background-color: transparent;
}

#container {
	margin: 40px auto;
}

.transparent {
	border-color: transparent; 
	background-color: transparent;
	display: inline;
}

.center {
	margin: 20px auto;
	text-align: center;
}

.mr-250 {
	margin: 250px 0;
}

.mr-30 {
	margin: 30px 0;
}

.mr-5 {
	margin: 8px 0;
}
.mr-3 {
	margin: 3px 0;
}

.mr-5-2 {
	margin: 0 10px 0 0;
}


/* buttons */
.moviebtn {
	width: 100%;
	margin: 10px;
	padding: 10px 20px;
	color: #333;
	background-color: transparent;
	border: 1px solid #333;
	border-radius: 3px;
}

.moviebtn:hover,
.moviebtn:active {
	color: #fff;
	background-color: #333;
} 

.btn-left {
	margin: 0 0 0 300px;
}


/* movieMain */
.shadow-sm:hover,
.shadow-sm:active {
	background-color: #000;
	color: #fff;
} 


/* movieContentView */
.border-gray {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 20px;
}

.noOverflow {
	overflow: hidden;
}

.align-left {
	text-align: left;
	float: left;
}
.align-right {
	text-align: right;
	float: right;
}

.pd-10 {
	padding: 10px;
}

/* movieWriteChk */

.btn-center {
	width: 200px;
	text-align:center !important;
	margin: 10px 350px 10px 350px;
}

/* input */
input {
	border-style: none;
 	background-color: transparent;
}


.title {
	margin: 10px auto;
	width: 100%; 
	height: 100px;
	font-size: 36px;	
}


/* stars */ 
.starR1 {
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2 {
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0; 
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on {
	background-position:0 0;
}
.starR2.on{
	background-position:-15px 0;
}
